@model mnh_Proyecto.V2.Models.Medico

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>
<br />
<h4>Medico</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                @Html.LabelFor(m => m.Matricula)
                @Html.TextBoxFor(m => m.Matricula, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Matricula, "", new { @class = "text-danger" })
                @*<label asp-for="Matricula" class="control-label"></label>
                    <input asp-for="Matricula" class="form-control" />
                    <span asp-validation-for="Matricula" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Nombre)
                @Html.TextBoxFor(m => m.Nombre, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
                @*<label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Apellido)
                @Html.TextBoxFor(m => m.Apellido, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Apellido, "", new { @class = "text-danger" })
                @*<label asp-for="Apellido" class="control-label"></label>
                    <input asp-for="Apellido" class="form-control" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Especialidad)
                @*<label asp-for="Especialidad" class="control-label"></label>*@
                <select asp-for="Especialidad" class="form-control" asp-items="Html.GetEnumSelectList<Especialidad>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Especialidad" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
