@model IEnumerable<mnh_Proyecto.V2.Models.Medico>

@{
    ViewData["Title"] = "Index";
    Paginado paginado = new Paginado();
    int pagNro = 0;

    if (ViewBag.Paginado != null)
    {
        paginado = ViewBag.Paginado;
        pagNro = paginado.CurrentPage;
    }

    string currentSearching = ViewBag.CurrentSearching;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<br />
<p>
    @using (@Html.BeginForm("Index", "Medico", FormMethod.Get))
    {
        <b>Filtrar Médicos por:</b>
        @Html.TextBox("searching", "", new { placeholder = " Apellido o Matrícula", @class = "form-input" }) <input type="submit" value="Search" />

        <a asp-action="Index"> | Ver todos los médicos</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4" class="text-danger">
                    No se encontraron resultados para la búsqueda realizada.
                </td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Matricula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Especialidad)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
<div class="container">

    @if (paginado.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @if (paginado.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Medico" asp-action="Index" asp-route-searching="@(currentSearching)" asp-route-pg="1">Primero</a>
                    <a class="page-link" asp-controller="Medico" asp-action="Index" asp-route-searching="@(currentSearching)" asp-route-pg="@(paginado.CurrentPage-1)">Anterior</a>
                </li>
}
            @for (var pag = paginado.StartPage; pag <= paginado.EndPage; pag++)
            {
                <li class="page-item @(pag==paginado.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Medico" asp-action="Index" asp-route-searching="@(currentSearching)" asp-route-pg="@pag">@pag</a>
                </li>
}
            @if (paginado.CurrentPage < paginado.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Medico" asp-action="Index" asp-route-searching="@(currentSearching)" asp-route-pg="@(paginado.CurrentPage+1)">Siguiente</a>
                    <a class="page-link" asp-controller="Medico" asp-action="Index" asp-route-searching="@(currentSearching)" asp-route-pg="@(paginado.TotalPages)">Ultimo</a>
                </li>
}
        </ul>}
</div>
