@model mnh_Proyecto.V2.Models.TurnoPracticaMedica

@{
    ViewData["Title"] = "Create";
}
@if (ViewBag.EsValido)
{
    <div class="alert alert-warning alert-danger fade show" role="alert">
        <strong>Atención! @TempData["AlertMessage"]</strong>
        @*<button type="button" class="btn-close" aria-label="Close"></button>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" .alert-dismissible></button>*@
    </div>}
<h1>Create</h1>

<h4>TurnoPracticaMedica</h4>
<br />
<h6 class="text-success">IMPORTANTE: La agenda de turnos se abre los lunes de cada semana, se agendan con un rango de semana a semana.</h6>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.IdPracticaMedica)
                @*<label asp-for="Especialidad" class="control-label"></label>*@
                <select asp-for="IdPracticaMedica" class="form-control" asp-items="Html.GetEnumSelectList<TipoEstudio>()">
                    <option selected="selected" value="">Please select</option>
                </select>

                @*<label asp-for="IdPracticaMedica" class="control-label"></label>
                    <input asp-for="IdPracticaMedica" class="form-control" />
                    <span asp-validation-for="IdPracticaMedica" class="text-danger"></span>*@

            </div>
            @*<div class="form-group">
                    <label asp-for="FechaConsultaMedica" class="control-label"></label>
                    <input asp-for="FechaConsultaMedica" class="form-control" />
                    <span asp-validation-for="FechaConsultaMedica" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                @Html.LabelFor(p => p.DocumentoPaciente)
                @Html.TextBoxFor(p => p.DocumentoPaciente, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.DocumentoPaciente, "", new { @class = "text-danger" })
                @*<label asp-for="DocumentoPaciente" class="control-label"></label>
                    <input asp-for="DocumentoPaciente" class="form-control" />
                    <span asp-validation-for="DocumentoPaciente" class="text-danger"></span>*@
            </div>
            @*<div class="form-group">
                    <label asp-for="IdPaciente" class="control-label"></label>
                    <input asp-for="IdPaciente" class="form-control" />
                    <span asp-validation-for="IdPaciente" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="DiasDisponibles" class="control-label"></label>
                <select asp-for="DiasDisponibles" class="form-control" asp-items="Html.GetEnumSelectList<DiasDisponibles>()"></select>
                <span asp-validation-for="DiasDisponibles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorasDisponibles" class="control-label"></label>
                <select asp-for="HorasDisponibles" class="form-control" asp-items="Html.GetEnumSelectList<HorasDisponibles>()"></select>
                <span asp-validation-for="HorasDisponibles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
