@model mnh_Proyecto.V2.Models.TurnoPracticaMedica

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>
<br />
<div>
    <h4>TurnoPracticaMedica</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdPracticaMedica)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdPracticaMedica)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaConsultaMedica)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaConsultaMedica)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentoPaciente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DocumentoPaciente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdPaciente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdPaciente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiasDisponibles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiasDisponibles)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HorasDisponibles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HorasDisponibles)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
