@model IEnumerable<mnh_Proyecto.V2.Models.TurnoPracticaMedica>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    @using (@Html.BeginForm("Index", "TurnoPracticaMedicas", FormMethod.Get))
    {
        <b>Filtrar Turnos por:</b>
        @Html.TextBox("searching", "", new { placeholder = " Documento Paciente", @class = "form-input" }) <input type="submit" value="Search" />

        <a asp-action="Index"> | Ver todos los turnos</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPracticaMedica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaConsultaMedica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentoPaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiasDisponibles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorasDisponibles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4" class="text-danger">
                    No se encontraron resultados para la búsqueda realizada.
                </td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPracticaMedica)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaConsultaMedica)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentoPaciente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPaciente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiasDisponibles)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HorasDisponibles)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
        </tbody>
</table>
