@model mnh_Proyecto.V2.Models.Paciente

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>
<br />

<h4>Paciente</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                @Html.LabelFor(p => p.Documento)
                @Html.TextBoxFor(p => p.Documento, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Documento, "", new { @class = "text-danger" })
                @*<label asp-for="Documento" class="control-label"></label>
                    <input asp-for="Documento" class="form-control" />
                    <span asp-validation-for="Documento" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.Nombre)
                @Html.TextBoxFor(p => p.Nombre, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Nombre, "", new { @class = "text-danger" })
                @*<label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.Apellido)
                @Html.TextBoxFor(p => p.Apellido, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Apellido, "", new { @class = "text-danger" })
                @*<label asp-for="Apellido" class="control-label"></label>
                    <input asp-for="Apellido" class="form-control" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.FechaDeNacimiento)
                @*<label asp-for="FechaDeNacimiento" class="control-label"></label>*@
                <input asp-for="FechaDeNacimiento" class="form-control" />
                @Html.ValidationMessageFor(p => p.FechaDeNacimiento, "", new { @class = "text-danger" })
                @*<span asp-validation-for="FechaDeNacimiento" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.ObraSocial)
                @Html.TextBoxFor(p => p.ObraSocial, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.ObraSocial, "", new { @class = "text-danger" })
                @*<label asp-for="ObraSocial" class="control-label"></label>
                    <input asp-for="ObraSocial" class="form-control" />
                    <span asp-validation-for="ObraSocial" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.NroAfiliado)
                @Html.TextBoxFor(p => p.NroAfiliado, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.NroAfiliado, "", new { @class = "text-danger" })
                @*<label asp-for="NroAfiliado" class="control-label"></label>
                    <input asp-for="NroAfiliado" class="form-control" />
                    <span asp-validation-for="NroAfiliado" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.Telefono)
                @Html.TextBoxFor(p => p.Telefono, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Telefono, "", new { @class = "text-danger" })
                @*<label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.CorreoElectronico)
                @Html.TextBoxFor(p => p.CorreoElectronico, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.CorreoElectronico, "", new { @class = "text-danger" })
                @*<label asp-for="CorreoElectronico" class="control-label"></label>
                    <input asp-for="CorreoElectronico" class="form-control" />
                    <span asp-validation-for="CorreoElectronico" class="text-danger"></span>*@
            </div>
                  <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
